* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

header{
    background-color: brown;
}
.color_nav{
    color:white;
    font-size: 30px;
}
.color_nav:hover{
    color: white;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
#ver_carrito{
    position: relative;
    left: 1560px;
    top: 0px;
    color: black;
}
#contenido{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin: 100px 0;
    justify-content: center;
} 
.images_card{
    width: 300px;
    display: block;
    margin: auto;
}
.texto_card{
    margin: 10px 0;
}
.items{
    margin: 30px 10px;
    text-align: center;
    margin: 10px 0;
}
.modal_wraper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.modal_container{
    flex-direction: column;
    background-color: white;
    border-collapse: collapse;
    border-right: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid rgb(212, 212, 212);
    border-left: 1px solid rgb(212, 212, 212);
    position: absolute;
    z-index: 150;
    width: 440px;

}
.modal_header{
    display: flex;
    justify-content: space-between;
}
.border_modal{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(212, 212, 212);

}
.titulo_carrito_desplegable{
    font-size: 28px;
    margin: 20px 0 20px 10px;
}
.contenedor_referencias{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.modal_content{
    display: flex;
    border-bottom: 1px solid rgb(212, 212, 212);
    margin: 10px 0;
} 

.texto_wrapper{
    display: flex;
    flex-direction: column;
    width: 200px;
}
/* .referencias{
    margin: 0 112px;
} */
.imagenes_carrito{
    width: 170px;
}
.hh3{
    font-size: 20px;
}
.precio{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}
.pp{
    font-size: 18px;
}
i{
    position: relative;
    bottom: 160px;
    left: 235px;
}

.parrafo_total{
    font-size: 19px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
    padding: 7px 0;
}
.boton_final_display{
    display: flex;
    justify-content: center;
}
.boton_carrito_compra{
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: brown;
    width: 95%;
    height: 45px;
    margin: 10px 0;
}

.boton_final_hide{
    display: none;
}

.carrito_vacio{
    font-size: 20px;
    text-align: center;
}
.modal_cerrar{
    cursor: pointer;
    font-size: 20px;
    margin: 20px 0 20px 10px;
}
.remover_objeto{
    cursor: pointer;
}
.boton{
    cursor: pointer;
}

